@import '../../assets/styles/vendor_mixin.scss';

.container {
  @include flex_direction(row);
  @include flex_wrap(wrap);
  margin: 0 -10px;
}

.item_wrap {
  @include flex();
  width: 25%;
}

@media screen and (max-width: 1200px) {
  .item_wrap {
    width: 33%;
  }
}

@media screen and (max-width: 768px) {
  .item_wrap {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .item_wrap {
    width: 100%;
  }
}