@import "../../assets/styles/vendor_mixin.scss";

.container {
  @include flex_direction(row);
  @include justify_content(space-between);
  color: #fff;
  background-color: black;

  .check_options_wrap {
    @include flex_direction(row);
    padding: 24px;

    .label {
      color: #bfbfbf;
      font-size: 10px;
      line-height: 16px;
    }

    .checkbox_list_wrap {
      @include flex_direction(row);
      padding-left: 16px;
    }
  }

  .reset_button {
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: none;
    font-size: 12px;
    margin: 24px;
    padding: 0;
  }
}